version: '3'

services:
    app: 
        build: .
        container_name: app
        entrypoint: dockerize -wait tcp://db:3306 -timeout 20s sh -c 'npm install && node index.js'
        volumes:
          - .:/user/src/app
        ports:
          - "3000"
        networks:
          - node-network
        depends_on: 
          - db

    db:
        image: mysql:8
        command: --innodb-use-native-aio=0
        restart: always
        tty: true
        container_name: db
        volumes:
          - ./mysql:/var/lib/mysql
        environment:
          - MYSQL_ROOT_PASSWORD=root
          - MYSQL_DATABASE=nodedb
        networks:
          - node-network  

    nginx:
        image: nginx
        container_name: nginx
        volumes:
          - ./nginx.conf:/etc/nginx/nginx.conf
        ports:
          - "8080:8080"
        depends_on:
          - app
        networks:
          - node-network

networks: 
    node-network:
       driver: bridge